.slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7, .slide8, .slide9, .slide10, .slide11, .slide12, .slide13, .slide14, .slide15, .slide16, .slide17, .slide18{
  display: none;
  /*background-color: red;*/
}

.clickable:hover{
  text-decoration: underline;
}

.hiddenpic{
  display:none;
}
